WebAutomation/node_modules/
WebAutomation/package-lock.json
WebAutomation/package.json

WebAutomation/logs/

.venv/

ThreatChecker/extracted_urls.txt

Extractor/latest_email.json
Extractor/test.txt

credentials.json
latest_email.json

Extractor/__pycache__/
ThreatChecker/__pycache__/
ThreatChecker/latest_email.json

EnvVar.py

__pycache__/

ThreatChecker/EnvVar.py
ThreatChecker/downloaded_images/

temp.py

screenshots/

WebAutomation/EnvVar.py
WebAutomation/downloaded_images/
WebAutomation/results/
WebAutomation/screenshots/
WebAutomation/__pycache__/
WebAutomation/input_email.json
WebAutomation/results/image_hash_results.json
WebAutomation/results/visual_check_results.json

input_email.json
